html {
  scroll-behavior: smooth;
}
main {
  padding-top: 5px;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  

  background: linear-gradient(rgba(48, 208, 91, 0.4), rgba(0, 0, 0, 0.4)), 
              url("home1.jpg") no-repeat center center;
  
  background-size: cover;
  
  
  opacity: 0.9; 
  z-index: -1;
}







